[Unit]
Description=PM2 process manager (dkapp)
After=network.target

[Service]
Type=forking
User=dkapp
LimitNOFILE=infinity
LimitNPROC=infinity
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PM2_HOME=/srv/dkapp/.pm2
PIDFile=/srv/dkapp/.pm2/pm2.pid
Restart=on-failure
ExecStart=/usr/bin/pm2 resurrect
ExecReload=/usr/bin/pm2 reload all
ExecStop=/usr/bin/pm2 kill

[Install]
WantedBy=multi-user.target
